<div ng-form="vm.mainForm" class="form-horizontal" cg-busy="[vm.loadPromise, vm.savePromise]">
    <div class="form-group">
        <label class="col-sm-3 control-label">Input Date (ISO)</label>
        <div class="col-sm-9">
            <input id="inputDate"
                   name="inputDate"
                   class="form-control"
                   ng-model="vm.inputDate"
                   required />
            <div class="error" ng-show="vm.mainForm.$submitted && vm.mainForm.inputDate.$invalid">
                <span>
                    Input date is invalid.
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Moment.ToString</label>
        <div class="col-sm-9">
            <p class="form-control-static">
                {{ vm.momentString }}
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Moment.ToISOString</label>
        <div class="col-sm-9">
            <p class="form-control-static">
                {{ vm.momentIsoString }}
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Moment $filterDate</label>
        <div class="col-sm-9">
            <p class="form-control-static">
                {{ vm.momentDate.toDate() | date:'short' }}
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Moment.UTC.ToString</label>
        <div class="col-sm-9">
            <p class="form-control-static">
                {{ vm.momentUtcString }}
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Moment.UTC.ToISOString</label>
        <div class="col-sm-9">
            <p class="form-control-static">
                {{ vm.momentUtcIsoString }}
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Moment.UTC $filterDate</label>
        <div class="col-sm-9">
            <p class="form-control-static">
                {{ vm.momentUtcDate.toDate() | date:'short' }}
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Send Date (ISO)</label>
        <div class="col-sm-9">
            <input id="sendDate"
                   name="sendDate"
                   class="form-control"
                   ng-model="vm.sendDate"
                   required />
            <div class="error" ng-show="vm.mainForm.$submitted && vm.mainForm.sendDate.$invalid">
                <span>
                    Send date is invalid.
                </span>
            </div>
        </div>
    </div>

    <div class="well well-sm">
        <button class="btn btn-primary" ng-click="vm.applyInputDate()">Apply Input Date</button>
        <button class="btn btn-default" ng-click="vm.sendToDateToServer()">Send Date</button>
        <button class="btn btn-danger" ng-click="vm.resetDateEntries()">Reset Date Entries</button>
    </div>
</div>